.theme-single {
	--desktop-background-image:url("");
	--desktop-background-color:#f6f6f6;
	--desktop-text-color:#000000;
	--hyperlink-background-color:#0645ad;
	--canvas-background-color:#ffffff;
	--inactive-text-background-color:#a2a9b1;
	--canvas-text-background-color:#000000;
	--highlight-background-color:#3366cc;
	--active-title-background-color:#a7d7f9;
}


/* Error Boxes */
.messagebox, .errorbox, .warningbox, .successbox {
    color: var(--message-foreground-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 1px solid;
    padding: 12px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
}

.errorbox a,
.errorbox a:visited {
	color:rgba(var(--alert-alternative-foreground-color-rgb),0.8);
}

.errorbox a:hover,
.errorbox a:visited:hover {
	color:var(--alert-alternative-foreground-color);
}


.warningbox  a,
.warningbox a:visited {
	color:rgba(var(--warning-alternative-foreground-color-rgb),0.8);
}

.warningbox a:hover,
.warningbox a:visited:hover {
	color:var(--warning-alternative-foreground-color);
}

.successbox a,
.successbox a:visited {
	color:rgba(var(--success-alternative-foreground-color-rgb),0.8);
}

.successbox a:hover,
.successbox a:visited:hover {
	color:var(--success-alternative-foreground-color);
}

.messagebox a,
.messagebox a:visited {
	color:rgba(var(--message-alternative-foreground-color-rgb),0.8);
}

.messagebox a:hover,
.messagebox a:visited:hover {
	color:var(--message-alternative-foreground-color);
}


.messagebox {
    background-color: var(--message-gradient-color);
    border-color: var(--message-gradient-color-hover);
    color: var(--message-foreground-color);
}

.errorbox {
    background-color: var(--alert-gradient-color);
    border-color: var(--alert-gradient-color-hover);
    color: var(--alert-foreground-color);
}

.warningbox {
    background-color: var(--warning-gradient-color);
    border-color: var(--warning-gradient-color-hover);
    color: var(--warning-foreground-color);
}

.successbox {
    background-color: var(--success-gradient-color);
    border-color: var(--success-gradient-color-hover);
    color: var(--success-foreground-color);
}