.theme-single {
	--desktop-background-image:url("");
	--desktop-background-color:#f6f6f6;
	--hyperlink-background-color:#0645ad;
	--visited-hyperlink-background-color:#0b0080;
	--canvas-background-color:#ffffff;
	--inactive-text-background-color:#a2a9b1;
	--active-text-background-color:#faa700;
	--canvas-text-background-color:#000000;
	--highlight-background-color:#3366cc;
	--active-title-background-color:#a7d7f9;
}


/* Error Boxes */
.messagebox, .errorbox, .warningbox, .successbox {
    color: var(--canvas-foreground-color);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 16px;
    border: 2px solid;
    padding: 12px 24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    border-radius:var(--border-radius);
    
}

.messagebox {
    background-color: var(--message-fadeout-color);
    border-color: var(--message-fadeout-color);
}

.errorbox {
    background-color: var(--alert-fadeout-color);
    border-color: var(--alert-fadeout-color);
}

.warningbox {
    background-color: var(--warning-fadeout-color);
    border-color: var(--warning-fadeout-color);
}

.successbox {
    background-color: var(--success-fadeout-color);
    border-color: var(--success-fadeout-color);
}

.visualmode-contrast .messagebox, 
.visualmode-contrast .errorbox, 
.visualmode-contrast .warningbox, 
.visualmode-contrast .successbox {
	background-color:var(--canvas-secondary-background-color);
	color:var(--canvas-text-secondary-background-color);
}

.visualmode-contrast .messagebox {
    border-color: var(--inactive-title-background-color);
}

.visualmode-contrast .errorbox {
    border-color: var(--hyperlink-background-color);
}

.visualmode-contrast .warningbox {
    border-color: var(--highlight-background-color);
}

.visualmode-contrast .successbox {
    border-color: var(--canvas-text-background-color);
}

.visualmode-contrast .messagebox a, 
.visualmode-contrast .errorbox a, 
.visualmode-contrast .warningbox a, 
.visualmode-contrast .successbox a,
.visualmode-contrast .messagebox a:visited, 
.visualmode-contrast .errorbox a:visited, 
.visualmode-contrast .warningbox a:visited, 
.visualmode-contrast .successbox a:visited {
	color:var(--hyperlink-secondary-background-color);
}

.visualmode-contrast .messagebox a.new, 
.visualmode-contrast .errorbox a.new, 
.visualmode-contrast .warningbox a.new, 
.visualmode-contrast .successbox a.new,
.visualmode-contrast .messagebox a.new:visited, 
.visualmode-contrast .errorbox a.new:visited, 
.visualmode-contrast .warningbox a.new:visited, 
.visualmode-contrast .successbox a.new:visited {
	color:var(--alert-secondary-background-color);
}
